.slider {
  animation: toRight 0.6s ease-out forwards;
  visibility: hidden;
  animation-delay: 5s;
}

@keyframes toRight {
  from {
    transform: translateX(-40px);
    visibility: hidden;
  }
  to {
    transform: translateX(0);
    visibility: visible;
  }
}

.item {
  height: 0;
  padding-bottom: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.item-img {
  height: 390px;
  width: 100%;
  object-fit: cover;
}

.item-desc {
  font-size: 12px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
